@media only screen and (min-width: 900px) {
    header h1 {
        font-size: 40px;
    }

    nav button {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        justify-content: center;
    }

    nav ul li a {
        border-top: none;
        padding: 20px 30px;
        flex-wrap: wrap;
    }

    body {
        max-width: 1100px;
        margin: auto;
    }
}