body {
    font-family: 'Heebo', sans-serif;
}

/* Styling the header */

h1 {
    font-size: 40px;
    margin: 10px 10px;
    font-family: 'Fira Sans', sans-serif;
    color: #65a565;
}

nav {
    align-self: flex-end;
    width: 100%;
    position: relative;
}

nav ul {
    display: none;
    list-style-type: none;
    padding: 0px;
    margin: auto;
    border: 2px solid rgba(0,0,0,0.6);
    background-color: white;
    border-radius: 4px;
}

nav ul.active {
    position: absolute;
    right: 25px;
    top: 75px;
    display: block;
    text-align: center;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 23px 35px;
    font-size: 20px;
}

nav ul li a:hover {
    background-color: rgba(101, 165, 101, 0.4);
}

nav button {
    display: block;
    font-size: 40px;
    border-style: none;
    padding: 28px 25px;
    background-color:  rgba(0,0,0,0);
    margin-left: auto;
}

header a:nth-child(3) button {
    width: 120px;
    margin: 10px;
    background-color: #87ca8d;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

header a:nth-child(3) button:hover {
    background-color: #64ad6c;
}

header {
    display: flex;
    align-items: center;
}

/* Styling the Home page */

