body {
    max-width: 500px;
    margin: auto;
}

header {
    background-color:#ffeecc;
    display: grid;
    gap: 10px;
    padding: 10px;
    justify-items: center;
}

footer {
    background-color: rgb(255, 238, 204);
    text-align: center;
    padding: 1px;
}

ul {
    display: grid;
    grid-template-columns: auto;
    column-gap: 10px;
}

ul li {
    display: grid;
    grid-template-columns: 100px 150px;
    column-gap: 30px;
}